.events-control {
    border: 1px solid black;
    text-align: center;
    padding: 1rem;
    margin: 2rem auto;
    width: 30rem;
    max-width: 80%;
}

.events_list {
    margin-top: 2rem;
    width: 40rem;
    max-width: 90%;
    list-style: none;
    padding: 0;
}

.events_list-item {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid turquoise;
}