body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control label{
    margin-bottom: 1rem;;
}
.form-control{
    margin-bottom: 1rem;
}

.form-actions button, .btn {
    background-color: cyan;
    font: inherit;
    border: 1px solid cyan;
    border-radius: 5px;
    margin: 0 1rem;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color:white;
    cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
    background-color: royalblue;
    border-color: royalblue;
}